
@{
    ViewBag.Title = "Index";

    Layout = null;
}

<h2>Ups! Algo salió Mal</h2>

<h3>Bienvenido al panel de usuario de momento no cuenta con un rol asignado valido porfavor comuniquese con el Departamento de Información</h3>

@Html.ActionLink("Volver al inicio", "Index", "Home")



