@{
    Layout = "~/Views/Shared/_LayoutMantenimiento.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>Ha ocurrido un error al procesar su requerimiento.</h2>

        @Html.ActionLink("Volver al inicio", "Index", "Home", new { area = "" }, new { @class = "btn btn-primary" })

    </hgroup>
</body>
</html>
